<% provide(:title, 'About Us') %>
<h1>okiticleとは？</h1>
<div class="container">
<div class="about">
	<h2>okinawa <span id="plus">+</span> <span id="article">article</span></h2>
<p>沖縄好きの人たちが集う情報共有サイトです。</p>
<p>旅行したとき、暮らしているとき、出張で訪れたときなどに気になった情報やお気に入りの写真を自由に情報共有ができます。</p>
<p>お気に入りのユーザーをフォローしておくとマイページにそのユーザーの最新情報が表示されます。
</p>
</div>
</div>