<!-- <div class="container"> -->
<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "当サイトについて", about_path %></li>
      <li><%= link_to "お問い合わせ", new_contact_path %></li>
      <li><a href="http://news.railstutorial.jp/">お知らせ</a></li>
    </ul>
  </nav>
</footer>
<!-- </div> -->